
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 finished-product" data-product="<%= product.id %>">
  <div class="box-shadowed rounded-corners panel fast-product-panel finished-fast-product-panel">
    <div class="panel-body row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 finished-product-content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hyphenate">
          <strong>SKU: </strong><span><%= product.sku %></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hyphenate">
          <strong>Nombre: </strong><span><%= product.name %></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hyphenate">
          <strong>Precio: </strong><span><%= product.price %></span>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <%= link_to edit_admin_fast_product_path(product), remote: true, class: "btn btn-primary text-center" do %>
          <%= fa_icon "pencil-square-o" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
