<table class="table table-bordered">
  <thead>
    <tr> 
      <th>user_id</th>
      <th>comment</th>
      <th>completed_at</th>
      <th>total</th>
      <th>state</th>
    </tr>
  </thead>
    <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td>
        <%= order.user_id %>
      </td>
      <td>
        <%= order.comment %>
      </td>
      <td>
        <%= order.completed_at %>
      </td>
      <td>
        <%= order.total %>
      </td>
      <td>
        <%= order.state %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>