<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 nested-fields">
    <div class="box-shadowed rounded-corners panel fast-product-panel">
      <div class="panel-body row">
        <% f.object.build_main_variant unless f.object.main_variant %>
        <%= f.simple_fields_for :main_variant do |v| %>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= v.input :sku %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= v.input :name %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <%= v.input :price %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 remove-fast-product-thumbnail">
            <%= link_to_remove_association f, class: "btn btn-danger" do %>
              <%= fa_icon "trash-o" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>