<%= f.simple_fields_for :product do |p| %>
  <div class="box-shadowed rounded-corners panel fast-product-panel">
    <div class="panel-body">
      <%= p.simple_fields_for :main_variant do |v| %>
        <div class="row fast-product-input-list">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <%= v.input :sku %>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <%= v.input :name %>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <%= v.input :price %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>