<ul class="navigation-wrapper">
  <li class="navigation-element">
    <div class="navigation-icon text-center">
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </li>
  <li class="navigation-element">
    <a href="#">
      <div class="navigation-icon text-center"><span><%= fa_icon "home" %></span></div>
      <div class="navigation-text text-left"><span>Inicio</span></div>
    </a>
  </li>

  <li class="navigation-element">
    <a href="#">
      <div class="navigation-icon text-center"><span><%= fa_icon "tags" %></span></div>
      <div class="navigation-text text-left"><span>Inventario</span></div>
    </a>
  </li>

  <li class="navigation-element">
    <a href="#">
      <div class="navigation-icon text-center"><span><%= fa_icon "shopping-cart" %></span></div>
      <div class="navigation-text text-left"><span>Órdenes</span></div>
    </a>
  </li>

  <li class="navigation-element">
    <a href="#">
     <div class="navigation-icon text-center"><span><%= fa_icon "truck" %></span></div>
     <div class="navigation-text text-left"><span>Sucursales</span></div>
    </a>
  </li>

  <li class="navigation-element">
    <a href="#">
      <div class="navigation-icon text-center"><span><%= fa_icon "line-chart" %></span></div>
      <div class="navigation-text text-left"><span>Reportes</span></div>
    </a>
  </li>

  <li class="navigation-element">
    <a href="#">
      <div class="navigation-icon text-center"><span><%= fa_icon "users" %></span></div>
      <div class="navigation-text text-left"><span>Usuarios</span></div>
    </a>
  </li>
  <div class="clearfix"></div>
</div>