<ul class="navigation-wrapper">
  <li class="navigation-element">
    <div class="navigation-icon text-center">
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navigation-text text-left width-right">
      <%= link_to root_path, class: "btn btn-success sale" do %>
        <%= fa_icon "money" %> Vender
      <% end %>
    </div>
  </li>

  <li class="navigation-element">
    <%= link_to root_path do %>
      <div class="navigation-icon text-center"><span><%= fa_icon "home" %></span></div>
      <div class="navigation-text text-left"><span>Inicio</span></div>
    <% end %>
  </li>

  <li class="navigation-element">
    <%= link_to admin_products_path do %>
      <div class="navigation-icon text-center"><span><%= fa_icon "tags" %></span></div>
      <div class="navigation-text text-left"><span>Inventario</span></div>
    <% end %>
  </li>

  <li class="navigation-element">
    <%= link_to admin_orders_path do %>
      <div class="navigation-icon text-center"><span><%= fa_icon "list-alt" %></span></div>
      <div class="navigation-text text-left"><span>Órdenes</span></div>
    <% end %>
  </li>

  <li class="navigation-element">
    <%= link_to admin_branches_path do %>
     <div class="navigation-icon text-center"><span><%= fa_icon "industry" %></span></div>
     <div class="navigation-text text-left"><span>Sucursales</span></div>
    <% end %>
  </li>

  <li class="navigation-element">
    <%= link_to admin_branches_path do %>
     <div class="navigation-icon text-center"><span><%= fa_icon "truck" %></span></div>
     <div class="navigation-text text-left"><span>Proveedores</span></div>
    <% end %>
  </li>

  <li class="navigation-element">
    <%= link_to admin_reports_path do %>
      <div class="navigation-icon text-center"><span><%= fa_icon "line-chart" %></span></div>
      <div class="navigation-text text-left"><span>Reportes</span></div>
    <% end %>
  </li>

  <li class="navigation-element">
    <%= link_to admin_users_path do %>
      <div class="navigation-icon text-center"><span><%= fa_icon "users" %></span></div>
      <div class="navigation-text text-left"><span>Usuarios</span></div>
    <% end %>
  </li>
  <div class="clearfix"></div>
</div>