<div class="panel panel-default variant-row nested-fields">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :name, required: true %>
        <%= f.input :price, required: true, input_html: { size: "8"} %>
      </div>
      <div class="col-md-4">
        <%= f.input :sku, required: true, input_html: { size: "15"} %>
        <%= f.input :cost, input_html: { size: "8"} %>
      </div>
      <div class="col-md-4">
        <% f.object.inventories.build if f.object.inventories.empty? %>

        <%= f.simple_fields_for :inventories do |i| %>
          <%= i.input :quantity %>
        <% end %>
        <%= link_to_remove_association (fa_icon "trash-o"), f, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
