<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 full-height">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top-10 margin-bottom-10">
      <%= search_form_for @q, url: sales_variants_path(statement_id: @statement.id), method: :get, html: { class: "form-inline", id: "search-form" }, remote: :true do |s| %>
        <div class="form-group">
          <div class="input-group">
            <%= s.text_field :name_or_description_cont, class: "form-control keyup-autosearch borderless  box-shadowed" %>
            <span class="input-group-btn">
              <button class="btn btn-default submit-search box-shadowed" type="button" data-loading-text="Buscando...">
                <%= fa_icon("search", text: " ") %>
              </button>
            </span>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top-10 margin-bottom-10">
      <ul class="list-inline sm xs view-change-buttons hidden-md hidden-lg pull-right">
        <li>
          <%= link_to "#", class: "btn btn-primary" do %>
            <%= fa_icon "th-list" %>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "btn btn-primary" do %>
            <%= fa_icon "th-large" %>
          <% end %>
        </li>
      </ul>
      <ul class="list-inline pull-right view-change-buttons hidden-xs hidden-sm pull-right">
        <li>
          <%= link_to "#", class: "btn btn-primary" do %>
            <%= fa_icon "th-list" %>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "btn btn-primary" do %>
            <%= fa_icon "th-large" %>
          <% end %>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>

  <!-- <div class="panel-body" id="variants-list-table"> -->
  <%= render partial: "sales/variants/variants_#{@variants_view}" %>
  <!-- </div> --> <!-- Cuerre de panel-body -->

  <div id="variants-list-footer">
    <%= remote_paginate(@variants) %>
  </div> <!-- Cuerre de panel-footer -->

</div> <!-- Cuerre de panel de productos -->

