<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 full-height">
  <div class="row box-shadowed" id="variants-list-header">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top-10 margin-bottom-10">
      <%= search_form_for @q, url: edit_sales_statement_path(@statement, variants_view: @variants_view), method: :get, html: { class: "form-inline", id: "search-form" }, remote: :true do |s| %>
        <div class="form-group">
          <div class="input-group">
            <%= s.text_field :name_or_description_cont, class: "form-control keyup-autosearch borderless box-shadowed", placeholder: "Buscar..." %>
            <span class="input-group-btn">
              <button class="btn btn-default submit-search box-shadowed" type="button" data-loading-text="Buscando...">
                <%= fa_icon("search", text: " ") %>
              </button>
            </span>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top-10 margin-bottom-10">
      <ul class="list-inline sm xs view-change-buttons hidden-md hidden-lg pull-right">
        <li>
          <%= link_to edit_sales_statement_path(@statement, variants_view: :list, page: params[:page], q: params[:q]), class: "btn btn-primary disableable", remote: true do %>
            <%= fa_icon "th-list" %>
          <% end %>
        </li>
        <li>
          <%= link_to edit_sales_statement_path(@statement, variants_view: :thumbnails, page: params[:page], q: params[:q]), class: "btn btn-primary disableable", remote: true do %>
            <%= fa_icon "th-large" %>
          <% end %>
        </li>
      </ul>
      <ul class="list-inline pull-right view-change-buttons hidden-xs hidden-sm pull-right">
        <li>
          <%= link_to edit_sales_statement_path(@statement, variants_view: :list, page: params[:page], q: params[:q]), class: "btn btn-primary disableable", remote: true do %>
            <%= fa_icon "th-list" %>
          <% end %>
        </li>
        <li>
          <%= link_to edit_sales_statement_path(@statement, variants_view: :thumbnails, page: params[:page], q: params[:q]), class: "btn btn-primary disableable", remote: true do %>
            <%= fa_icon "th-large" %>
          <% end %>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>

  <!-- <div class="panel-body" id="variants-list-table"> -->
  <div class="row" id="variants-list-body">
    <%= render partial: "sales/variants/variants_#{@variants_view}" %>
  </div>
  <!-- </div> --> <!-- Cuerre de panel-body -->

  <div class="row" id="variants-list-footer">
    <%= remote_paginate(@variants, class: "margin-top-10 margin-bottom-10 margin-left-10 margin-right-10 pull-right", params: { variants_view: @variants_view }) %>
    <div class="clearfix"></div>
  </div> <!-- Cuerre de panel-footer -->

</div> <!-- Cuerre de panel de productos -->

