<div class="row button-block fast-products-button-block">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <h3>Ventas</h3>
     <div class="fast-products-button-container pull-right">
       <%= link_to "Regresar al tablero", root_path, class: "btn btn-primary" %>
     </div>
     <div class="clearfix"></div>
   </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row button-block">
              <div class="col-md-12">
                <ul class="list-inline padding-sides">
                  <li>
                    <%= search_form_for @q, url: sales_variants_path, method: :get, html: { class: "form-inline", id: "search-form" }, remote: :true do |s| %>
                      <div class="form-group box-shadowed rounded-corners">
                        <div class="input-group">
                          <%= s.text_field :name_or_description_cont, class: "form-control keyup-autosearch" %>
                          <span class="input-group-btn">
                            <button class="btn btn-default submit-search" type="button" data-loading-text="Buscando...">
                              <%= fa_icon("search", text: " ") %>
                            </button>
                          </span>
                        </div>
                      </div>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "#", class: "btn btn-primary" do %>
                      <%= fa_icon "th-list" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "#", class: "btn btn-primary" do %>
                      <%= fa_icon "th-large" %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div> <!-- Cuerre de panel-header -->

          <div class="panel-body" id="variants-list-table">
            <%= render partial:'sales/variants/variants_list' %>
          </div> <!-- Cuerre de panel-body -->

          <div class="panel-footer">
            <%= will_paginate @variants %>
          </div> <!-- Cuerre de panel-footer -->

        </div> <!-- Cuerre de panel de ventas -->
      </div>
      
      
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-12">
                    <ul class="list-inline padding-sides">
                      <li>
                        Ticket: ####
                      </li>
                      <li class="pull-right">
                        Fecha: DATE
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>

              <div class="panel-body" id="line-items-list-table">
                <%= render partial:'sales/variants/line_item_list' %>
              </div>

              <div class="panel-footer">
                <div class="row">
                  <div class="col-md-3">
                    Venta Total
                  </div>
                  <div class="col-md-6">
                    <form class="form-inline pull-right">
                      <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount">Total (in dollars)</label>
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                          <div class="input-group-addon">.00</div>
                        </div>
                      </div>
                    </form>
                    <div class="clearfix"></div>
                  </div>
                  <div class="col-md-3">
                    <form class="pull-right">
                      <%= link_to "Cobrar", "#", class: "btn btn-primary" %>
                    </form>
                  </div>
                  <div class="clearfix"></div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>