<div class="row button-block">
  <div class="col-md-12 col-lg-12">
    <div class="btn-group pull-left rounded-corners box-shadowed">
      <%=link_to "Pagado", admin_orders_path(q:{state: Order::PAID}), remote: true , class: "btn btn-default" %>
      <%=link_to "Deuda", admin_orders_path(q:{state: Order::DEBT}), remote: true , class: "btn btn-default" %>
      <%=link_to "Cancelado", admin_orders_path(q:{state: Order::CANCELED}), remote: true , class: "btn btn-default" %>
      <%=link_to "Resumen", admin_orders_path(q:{state: Order::SUMARY}), remote: true , class: "btn btn-default" %>
    </div>

    <ul class="list-inline pull-right">
      <li>
        <%= search_form_for @q, url: admin_orders_path, method: :get, html: { class: "form-inline", id: "search-form"}, remote: :true do |s| %>
          <div class="form-group rounded-corners box-shadowed">
            <div class="input-group">
              <%= s.text_field :id_cont, placeholder: "No. Tiket", class: "form-control keyup-autosearch"%>
              <span class="input-group-btn">
                <button class="btn btn-default submit-search" type="button" data-loading-text="Buscando...">
                  <%= fa_icon("search", text: " ") %>
                </button>
              </span>
            </div>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to new_admin_order_path, class: "btn btn-primary" do %>
          Nueva Orden
          <%= fa_icon "plus" %>
        <% end %>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>