<div class="row actions-bar">
  <div class="col-md-6">
    <ul class="list-inline">
      <li class="title-align">
        <h2 class="no-margin">Variantes de <%= link_to @product.main_variant.name, edit_admin_product_path(@product) %></h2>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-inline pull-right">
      <li>
        <%= link_to new_admin_product_variant_path(@product), class: "btn btn-primary" do %>
          Nueva Variante
          <%= fa_icon "plus" %>
        <% end %>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <table class="table table-bordered">
      <thead>
        <tr> 
          <th>variant</th>
          <th>variable de menu</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <% @variants.each do |variant| %>
          <tr>
            <td><%= variant.name %></td>
            <td><%= variant.main_variant %></td>
            <td><%= variant.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>