<div class="row actions-bar">
  <div class="col-md-6"> 
    Reportes
  </div>
  <div class="col-md-6">
    <ul class="list-inline pull-right">
      <li>
        <%= link_to "#", class: "btn btn-success" do %>
          <%= fa_icon "arrow-right" %>
        <% end %>
      </li>
        <%= link_to "#", class: "btn btn-success" do %>
          <%= fa_icon "chevron-right" %>
        <% end %>
      <li>
        <%= link_to "#", class: "btn btn-success" do %>
          <%= fa_icon "angle-double-right" %>
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: "btn btn-success" do %>
          <%= fa_icon "caret-right" %>
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: "btn btn-success" do %>
          <%= fa_icon "caret-square-o-right" %>
        <% end %>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>

<hr>