<%= simple_form_for [:admin, @product], remote: :true do |f| %>
  <%= f.simple_fields_for :main_variant do |v| %>
    <div class="row">
      <div class="col-md-8 col-sd-8">
        <%= v.input :name, placeholder: 'Nombre' %>
        <%= v.input :sku, as: :decimal, placeholder: 'Sku' %>
        <%= v.input :description, as: :text, placeholder: 'Descripción', input_html: { rows: "5", class: "max-width" } %>
        <%= v.input :main_variant, as: :hidden %>
      </div>
      <div class="col-md-4 col-sd-4">
        <%= v.input :cost, as: :decimal, placeholder: 'Costo' %>
        <%= v.input :price, as: :decimal, placeholder: 'Precio' %>
        <%= v.simple_fields_for :inventories do |i| %>
          <%= i.input :quantity, as: :numeric %>
        <% end %>
      </div>
    </div>

    <hr>

    <p class="lead">Variantes<p>

    <div class="row">
      <div class="col-md-12" id="variants-list">
        <%= f.simple_fields_for :common_variants do |i| %>
          <%= render "variant_form", i: i %>
        <% end %>

        <div class="panel nested-fields">
          <%= link_to_add_association f, :common_variants, partial: "shared/variant_fields", data: { 'association-insertion-node' => ".nested-fields", 'association-insertion-traversal' => "closest", 'association-insertion-method' => 'before' }, class: "add-variant-btn bg-success" do %>
            <h3 class="text-success text-center no-margin">Agregar Variante <%= fa_icon "plus" %></h3>
            
          <% end %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= link_to "Regresar", admin_products_path, class: "btn btn-info pull-right" %>
        <%= f.submit "Guardar", class: "btn btn-primary pull-right" %>
        <div class="clearfix"></div>
      </div>
    </div>

  <% end %>
<% end %>