<tr <%= variant_id_data_attr(variant) %>>
  <td class="vertical-td">
      <%=  variant.name %>
      <% if variant.main_variant?%>
        <span class="label label-success">producto de linea</span>
      <% else %>
        <span class="label label-info">variante</span>
      <% end %>
  </td>
  <td class="vertical-td"><%= variant.price %></td>
  <td class="vertical-td"><%= variant.cost %></td>
  <td class="vertical-td"><%= variant.inventories.sum(:quantity) %></td>
  <td class="vertical-td">
    <%= render partial: "actions", locals: { variant: variant } %>
  </td>
</tr>