<tr <%= variant_id_data_attr(variant) %> class="<%= variant.deleted_at.blank? ? '' : 'danger' %>">
  <td class="vertical-td">
      <%=  variant.name %>
      <% if variant.main_variant?%>
        <span class="label label-success">producto de linea</span>
      <% else %>
        <span class="label label-info">variante</span>
      <% end %>
  </td>
  <td class="text-center">
    <%= link_to admin_products_path(q: { product_id_eq: variant.product.id }) do %>
      <span class="badge"><%= variant.siblings_count %></span>
    <% end %>
  </td>
  <td class="vertical-td text-center"><%= variant.price %></td>
  <td class="vertical-td text-center"><%= variant.cost %></td>
  <td class="vertical-td text-center"><%= variant.inventories.sum(:quantity) %></td>
  <td class="vertical-td text-center">
    <%= render partial: "actions", locals: { variant: variant } %>
  </td>
</tr>