<table class="table table-striped no-margin">
  <thead>
    <tr> 
      <td width="55%">Articulo</td>
      <td width="15%">Precio</td>
      <td width="15%">Cantidad</td>
      <td width="15%">Total</td>
    </tr>
  </thead>
</table>


<% @statement.line_items.order(:created_at).each do |li| %>
  <div class="row padding-top padding-bottom">
    <div class="col-md-4">
      <%= link_to "#line_item#{li.id}", 
                  data: { toggle: "collapse" }, 
                  aria: { 
                    expanded: "false", 
                    controls: "line_item#{li.id}" 
                  } do %>
        <%= li.variant.name %>
        <%= fa_icon "caret-down" %>
      <% end %>
    </div>
    <div class="col-md-2"> <%= li.variant.price %> </div>
    <div class="col-md-2"> <%= li.quantity %> </div>
    <div class="col-md-2"> <%= li.total %> </div>
    <div class="col-md-2">
      <%= link_to sales_statement_line_item_path(@statement, li), method: :delete, class: "btn btn-danger", remote: true do %>
        <%= fa_icon "trash-o" %>
      <% end %>
    </div>
  </div>
  <div class="collapse row padding-top padding-bottom" id="line_item<%= li.id %>">
      <%= simple_form_for li, url: sales_statement_line_item_path(@statement, li), method: :put, remote: true do |f| %>
        <div class="col-md-5">
          Actualizar cantidad
        </div>
        <div class="col-md-3">
          <%= f.input :quantity, label: false %>
        </div>
        <div class="col-md-4">
          <%= f.submit "Actualizar", class: "btn btn-primary pull-right" %>
          <div class="clearfix"> </div>
        </div>
      <% end %>
    </div>
<% end %>

