<table class="table table-striped no-margin" id="variants-list-pool">
  <thead>
    <tr> 
      <th width="60%">Articulo</th>
      <th class="text-center" width="15%">Precio</th>
      <th class="text-center" width="15%">Inventario</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <% @variants.each do |variant| %>
      <tr> 
        <td class="hyphenate"> <%= variant.name %> </td>
        <td class="text-center"> <%= variant.price %> </td>
        <td class="text-center"> <%= variant.inventories.sum(:quantity) %> </td>
        <td class="">
          <%= link_to sales_statement_line_items_path(@statement, variant_id: variant.id), method: :post, class: "btn btn-success", remote: true do %>
            <%= fa_icon "shopping-basket" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
