<tr data-variant-id="<%= variant_row.id %>">
  <td class="hyphenate"> <%= variant_row.name %> </td>
  <td class="text-center"> <%= variant_row.price %> </td>
  <td class="text-center"> <%= variant_row.inventories.sum(:quantity) %> </td>
  <td colspan="2" class="row">
    <%= simple_form_for LineItem.new(statement_id: @statement.id), url: sales_statement_line_items_path(@statement, variant_id: variant_row.id), remote: true, html: { id: "new-line-item-#{variant_row.id}" } do |f| %>

      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <%= f.number_field_tag "line_item[quantity]", 1, min: 0, class: "form-control" %>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button class="btn btn-primary disableable pull-right" type="submit" data-target="new-line-item-<%= variant_row.id %>">
          <%= fa_icon "shopping-basket" %>
        </button>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </td>
<tr>
  