<div class="row">
  <%= simple_form_for [:admin, @user], remote: :true do |f| %>

    <div class="col-md-6">
        <%= f.input :first_name, input_html: { class: "form-control" } %>
        <%= f.input :last_name, input_html: { class: "form-control" } %>
        <%= f.input :username, input_html: { class: "form-control" } %>
        <%= f.input :email, input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-6">
        <%= f.input :password, as: :password, input_html: { class: "form-control" } %>
         <%= f.input :password_confirmation, as: :password, input_html: { class: "form-control" } %>
         <%= f.input :phone, input_html: { class: "form-control" } %>
         <%= f.input :address, input_html: { class: "form-control" } %>
         <% if current_user != @user %>
           <%= f.input :role_id, collection: Role.assignable_roles, input_html: { class: "form-control" } %>
         <% end %>
    </div>

    <div class="col-md-12">
      <hr>
      <%= f.button :submit, "Guardar", class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>