<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <div class="panel" >
      
      <%= link_to new_admin_user_path, class: "btn btn-primary pull-right", remote: true do %>
        Nuevo Usuario
        <%= fa_icon "plus" %>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <table class="table table-bordered">
      <thead>
        <tr> 
          <th width="60%">Usuario</th>
          <th width="25%">Fecha de registro</th>
          <th width="15%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.created_at.strftime("%d-%m-%Y") %></td>
            <td>
              <%= render partial: "actions", locals: { user: user } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>