<!DOCTYPE html>
<html>
<head>
  <title>Chopin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if user_signed_in? %>
    <!-- menú lateral -->
    <div class="navigation">
      <%= render "/shared/menu" %>
    </div>
    <!-- /menú lateral -->
  <% end %>

  <div class="<%= 'site-wrap' if user_signed_in? %>">
    <div class="container-fluid page-container-fluid">
      <%= render "shared/top_menu" %>
      
      
      <% if content_for?(:buttons_bar) %>
        <div class="row button-bar">
          <%= yield :buttons_bar %>
        </div>
      <% end %>

      <% if content_for?(:page_content) %>
        <div class="row">
          <%= yield :page_content %>
        </div>
      <% end %>
      
      <% if content_for?(:page_full_height) %>
        <div class="row full-height">
          <%= yield :page_full_height %>
        </div>
      <% end %>
      
      <%= yield %>

    </div>
  </div>
  <%= render partial: "/shared/global_modal" %>
</body>
</html>
