<!DOCTYPE html>
<html>
<head>
  <title>Chopin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if user_signed_in? %>
    <!-- menú lateral -->
    <div class="navigation">
      <%= render "/shared/menu" %>
    </div>
    <!-- /menú lateral -->
  <% end %>

  <div class="<%= 'site-wrap' if user_signed_in? %>">
    <div class="container-fluid">
      <%= render "shared/top_menu" %>
      
      
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="row actions-bar">
            <%= yield :buttons_bar %>
          </div>

          <div class="row">
            <%= yield :page_content %>
            <%= yield %>
          </div>
        </div>
      </div>

    </div>
  </div>
  <%= render partial: "/shared/global_modal" %>
</body>
</html>
